# dependencies
/node_modules
/.pnp
.pnp.*

# testing and reports
/coverage

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# operating systems and editors
.DS_Store
Thumbs.db
*.swp
